<% if signed_in? %>
  <div class="row">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      
      <section>
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Items I am interested in buying</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center hero-unit">
    <h1>Welcome to TradeSpring</h1>

    <h2>
      If you are a consumer and are interested in purchasing a product/service, you need to sign in/sign up. If you are a vendor and interested in responding to the product/service queries of users you can do so by clicking on the users link on the right side of the header. 
    </h2>

    <%= link_to "Sign up now!", signup_path, 
                                class: "btn btn-large btn-primary" %>
  </div>

 
<% end %>
